/* Formatting to clear preset padding and margins for all emements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting default background color for the site (everything in the body tag) */
body {
    background-color: #d9dcd6;
}

/* setting the padding, font, background and  default text color for the header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Formating of title text for header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Color of the text displayed in the header, overrides .header selector above */
.header h1 .seo {
    color: #d9dcd6;
}
/*  styles and sets the navigation bar at the top of the page  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* styles list for navigation items  */
.header nav ul {
    list-style-type: none;
}

/* sets list items display style and margins */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* color of the page navigation links in header  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* size of text in p tags */
p {
    font-size: 16px;
}

/* banner image styling */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* formatting for primary content block, moved up in the document to follor HTML structure*/
/* styling for text boxes in main content section */
section.box{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* created class "box" to edit all images in all content boxes */
.box img {
    max-height: 200px;
}

/* created class box to edit headers in all content boxes */
.box h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* image in the first and third content box */
.float-left {
    float: left;
    margin-right: 25px;
}

/* image in the second content box */
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets display styling for primary content */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* formatting for the side bar */
/* sets styling for the sidebar */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
 /* sets bottom margins for the section content */
.side-bar {
    margin-bottom: 32px;
    color: #ffffff;
}

/* sets bottom margins for the section heading */
.side-bar h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets image display in side bar */
.side-bar img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* formatting for the footer */
/* sets  styling for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
 /* sets font for footer heading */
.footer h2 {
    font-size: 20px;
}
